.sign li{
	font-size: 20px;
    font-weight: 500;
	    margin-top:-27px;
		}
		.mrg_r{margin-right:10px;}

		.bdrs{margin-top:-9px!important;}
		.btn_space{padding: 30px 0 34px;
		}


		@media only screen and (max-width: 767px){
.responsive_fix{margin:0 auto;text-align: center;margin-left:0;}
.responsive_fix img{margin-left: 0px!important;}
.responsive_fix2{
	text-align: center;
}

		}

